<template>
  <div class="text-center">
    <div v-if="warningZone" class="alert alert-warning" role="alert">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="currentColor"
        class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2"
        viewBox="0 0 16 16"
        role="img"
        aria-label="Warning:"
      >
        <path
          d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
        />
      </svg>
      Are you still with us? You soon will be logged out!
    </div>
  </div>
</template>

<script setup>
import { onMounted, reactive, ref } from "vue";
const events = reactive([
  "click",
  "mouseover",
  "mousedown",
  "scroll",
  "keypress",
  "load",
]);
const warningTimer = ref(null);
const logoutTimer = ref(null);
const warningZone = ref(null);
onMounted(() => listenEvents());

function listenEvents() {
  events.forEach((event) => {
    window.addEventListener(event, resetTimer());
  });
}

function warningMessage() {
  warningZone.value = true;
}
function setTimers() {
  warningTimer.value = setTimeout(warningMessage, 29 * 60 * 1000);
  logoutTimer.value = setTimeout(logoutUser, 30 * 60 * 1000);
  warningZone.value = false;
}
function resetTimer() {
  clearTimeout(warningTimer);
  setTimers();
}
function logoutUser() {
  window.location = "/login";
}
</script>
