<template>
  <div class="text-right">
    <button
      class="btn btn-primary w-50"
      type="button"
      disabled
      v-if="props.loading"
    >
      <span
        class="spinner-grow spinner-grow-sm"
        role="status"
        aria-hidden="true"
      ></span>
      Loading...
    </button>
    <button class="btn btn-primary w-50" type="submit" v-else>
      <slot></slot>
    </button>
  </div>
</template>

<script setup>
import { defineProps } from "vue";
const props = defineProps({
  loading: Boolean,
});
</script>
