<template>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <slot name="card-header"></slot>
      </div>
      <div class="card-body">
        <div class="card-title">
          <slot name="card-title"> </slot>
        </div>
        <div class="card-text"><slot></slot></div>
      </div>
    </div>
  </div>
</template>
