<template>
  <div class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">
        <slot></slot>
      </span>
    </div>
  </div>
</template>
