<template>
  {{ currentUser }}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <img src="@/assets/logo.png" alt="logo" class="img-logo" />
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <router-link class="nav-link" to="/">Home</router-link>
        </li>
        <li class="nav-item">
          <router-link class="nav-link" :to="{ name: 'jobs-all' }"
            >All Jobs</router-link
          >
        </li>
        <li class="nav-item">
          <router-link class="nav-link" :to="{ name: 'about' }"
            >About</router-link
          >
        </li>
      </ul>
      <ul v-if="currUser" class="navbar-nav my-2 my-lg-0">
        <li class="nav-item">
          <a class="nav-link text-dark">Welcome {{ currUser }}!</a>
        </li>

        <li class="nav-item">
          <router-link class="nav-link" :to="{ name: 'jobs-my' }"
            >My Jobs</router-link
          >
        </li>
        <li class="nav-item">
          <router-link class="nav-link" :to="{ name: 'jobs-create' }"
            >Create Job
          </router-link>
        </li>
        <li class="nav-item">
          <router-link class="nav-link" :to="{ name: 'profile' }"
            >Profile</router-link
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)" @click="logOut"
            >Log Out</a
          >
        </li>
      </ul>
      <ul v-else class="navbar-nav my-2 my-lg-0">
        <li class="nav-item">
          <router-link class="nav-link" :to="{ name: 'register' }"
            >Register</router-link
          >
        </li>
        <li class="nav-item">
          <router-link class="nav-link" :to="{ name: 'login' }"
            >Login</router-link
          >
        </li>
      </ul>
    </div>
  </nav>
</template>

<script setup>
import { computed, onMounted } from "vue";
import {
  currentUser,
  clearObject,
  bindLocalStorageToObject,
} from "@/reusable/state";
import { useRouter } from "vue-router";

const router = useRouter();
const currUser = computed(() => currentUser.username);
const logOut = computed(() => fullLogOut());

function fullLogOut() {
  clearObject(currentUser);
  localStorage.clear();
  router.replace({ name: "login" });
}
function checkLocalStorage() {
  console.log("checking local storage");
  if (typeof currentUser.username !== "string") {
    bindLocalStorageToObject(currentUser);
  }
}

onMounted(() => checkLocalStorage());
console.log(currentUser);
</script>

<style>
.img-logo {
  width: 30px;
  height: 30px;
}
</style>
