<template>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <h3>Login</h3>
      </div>
      <div class="card-body">
        <form @submit.prevent="formSubmit">
          <div class="form-group">
            <label>Username</label>
            <input
              v-model.lazy.trim="formValues.username"
              type="text"
              class="form-control"
              placeholder="Type here..."
            />
          </div>

          <div class="form-group">
            <label>Password</label>
            <input
              v-model.lazy="formValues.password"
              type="password"
              class="form-control"
              placeholder="Type here..."
            />
          </div>

          <div v-if="state.saved" class="alert alert-success" role="alert">
            You've logged in successfully!
          </div>
          <div v-else-if="state.error" class="alert alert-danger" role="alert">
            {{ state.error }}
          </div>
          <PrimaryButton :loading="state.loading">Login</PrimaryButton>
        </form>
      </div>
    </div>
  </div>
</template>

<script setup>
import PrimaryButton from "@/components/PrimaryButton.vue";
import { reactive } from "vue";
import { api } from "@/reusable/axios";
import {
  currentUser,
  errorState,
  resetObject,
  bindErrorsToObject,
  bindObjectToLocalStorage,
  bindObjectToObject,
} from "@/reusable/state";
import { useRouter } from "vue-router";

const router = useRouter();
const { state } = errorState();
const formValues = reactive({
  username: "",
  password: "",
});

function formSubmit() {
  resetObject(state);
  state.loading = true;
  api
    .post("/login/token", new URLSearchParams(formValues))
    .then((resp) => {
      state.saved = true;
      localStorage.setItem("reloaded", 1);
      currentUser.username = formValues.username;
      bindObjectToObject(resp.data, currentUser);
      bindObjectToLocalStorage(currentUser);
      router.replace({ name: "profile" });
      state.loading = false;
    })
    .catch((err) => {
      bindErrorsToObject(err, state);
      state.loading = false;
    });
}
</script>
