<template>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <h3>Register</h3>
      </div>
      <div class="card-body">
        <form @submit.prevent="formSubmit">
          <div class="form-group">
            <label>Username</label>
            <input
              type="text"
              class="form-control"
              placeholder="Type your username here..."
              v-model.lazy.trim="formValues.username"
              :class="{ 'is-invalid': state.errors.username }"
            />
            <div class="invalid-feedback" v-show="state.errors.username">
              {{ state.errors.username }}
            </div>
          </div>

          <div class="form-group">
            <label>Email</label>
            <input
              type="email"
              class="form-control"
              name="inputEmail"
              id="inputEmail"
              aria-describedby="emailHelpId"
              placeholder="user@example.com"
              :class="{ 'is-invalid': state.errors.email }"
              v-model.lazy.trim="formValues.email"
            />
            <div class="invalid-feedback" v-show="state.errors.email">
              {{ state.errors.email }}
            </div>
          </div>
          <div class="form-group">
            <label>Password</label>
            <input
              class="form-control"
              type="password"
              placeholder="Type your password here..."
              :class="{ 'is-invalid': state.errors.password }"
              v-model="formValues.password"
            />
            <div class="invalid-feedback" v-show="state.errors.password">
              {{ state.errors.password }}
            </div>
          </div>
          <div v-show="state.saved" class="alert alert-success" role="alert">
            You've registered successfully!
          </div>
          <div v-show="state.error" class="alert alert-danger" role="alert">
            {{ state.error }}
          </div>
          <PrimaryButton :loading="state.loading">Register</PrimaryButton>
        </form>
      </div>
    </div>
  </div>
</template>

<script setup>
import PrimaryButton from "@/components/PrimaryButton.vue";
import { api } from "@/reusable/axios";
import { reactive } from "vue";
import { errorState, resetObject, bindErrorsToObject } from "@/reusable/state";
const { state } = errorState();
const formValues = reactive({
  username: "",
  email: "",
  password: "",
});

function formSubmit() {
  resetObject(state);
  state.loading = true;
  api
    .post("/users/create", formValues)
    .then((resp) => {
      console.log(resp);
      state.saved = true;
      state.loading = false;
    })
    .catch((err) => {
      bindErrorsToObject(err, state);
      state.loading = false;
    });
}
</script>
