<template>
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        <h3>Create new job offer</h3>
      </div>
      <div class="card-body">
        <form @submit.prevent="formSubmit">
          <div class="form-group row">
            <div class="col">
              <label>Title</label>
              <input
                type="text"
                class="form-control"
                placeholder="Title of job offer"
                v-model.lazy.trim="formValues.title"
                :class="{ 'is-invalid': state.errors.title }"
              />
              <div class="invalid-feedback" v-if="state.errors.title">
                {{ state.errors.title }}
              </div>
            </div>
            <div class="col">
              <label>Location</label>
              <input
                type="text"
                class="form-control"
                placeholder="Place of work"
                v-model.lazy.trim="formValues.location"
                :class="{ 'is-invalid': state.errors.location }"
              />
              <div class="invalid-feedback" v-if="state.errors.location">
                {{ state.errors.location }}
              </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="col">
              <label>Company name</label>
              <input
                type="text"
                class="form-control"
                placeholder=" Type company name here..."
                v-model.lazy.trim="formValues.company"
                :class="{ 'is-invalid': state.errors.company }"
              />
              <div class="invalid-feedback" v-if="state.errors.company">
                {{ state.errors.company }}
              </div>
            </div>
            <div class="col">
              <label>Location</label>
              <input
                type="text"
                class="form-control"
                placeholder="Type valid URL here..."
                v-model.lazy.trim="formValues.company_url"
                :class="{ 'is-invalid': state.errors.company_url }"
              />
              <div class="invalid-feedback" v-if="state.errors.company_url">
                {{ state.errors.company_url }}
              </div>
            </div>
          </div>

          <div class="form-group col-mx-8">
            <label>Description</label>
            <textarea
              class="form-control"
              rows="3"
              placeholder="Type description of job here..."
              v-model="formValues.description"
              :class="{ 'is-invalid': state.errors.description }"
            ></textarea>
            <div class="invalid-feedback" v-if="state.errors.description">
              {{ state.errors.description }}
            </div>
          </div>

          <div v-show="state.saved" class="alert alert-success" role="alert">
            You've created new job successfully!
          </div>
          <div class="row">
            <div class="col text-left">
              <button @click="clear" type="button" class="btn btn-warning">
                Clear
              </button>
            </div>
            <div class="col">
              <PrimaryButton :loading="state.loading">Create</PrimaryButton>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script setup>
import PrimaryButton from "@/components/PrimaryButton.vue";
import { api } from "@/reusable/axios";
import { reactive, computed } from "vue";
import { errorState, resetObject, bindErrorsToObject } from "@/reusable/state";

const { state } = errorState();
const formValues = reactive({
  title: "",
  company: "",
  location: "",
  description: "",
  company_url: "",
});
const clear = computed(() => resetObject(formValues));

function formSubmit() {
  resetObject(state);
  state.loading = true;
  api
    .post("/jobs/create", formValues)
    .then((resp) => {
      console.log(resp);
      state.saved = true;
      state.loading = false;
    })
    .catch((err) => {
      bindErrorsToObject(err, state);
      state.loading = false;
    });
}
</script>
