<template>
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        <h3>Edit existing job</h3>
      </div>
      <div class="card-body">
        <form @submit.prevent="formSubmit">
          <div class="form-group row">
            <div class="col">
              <label>Title</label>
              <input
                type="text"
                class="form-control"
                placeholder="Title of job offer"
                v-model.lazy.trim="formValues.title"
                :class="{ 'is-invalid': state.errors.title }"
              />
              <div class="invalid-feedback" v-if="state.errors.title">
                {{ state.errors.title }}
              </div>
            </div>
            <div class="col">
              <label>Location</label>
              <input
                type="text"
                class="form-control"
                placeholder="Place of work"
                v-model.lazy.trim="formValues.location"
                :class="{ 'is-invalid': state.errors.location }"
              />
              <div class="invalid-feedback" v-if="state.errors.location">
                {{ state.errors.location }}
              </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="col">
              <label>Company name</label>
              <input
                type="text"
                class="form-control"
                placeholder=" Type company name here..."
                v-model.lazy.trim="formValues.company"
                :class="{ 'is-invalid': state.errors.company }"
              />
              <div class="invalid-feedback" v-if="state.errors.company">
                {{ state.errors.company }}
              </div>
            </div>
            <div class="col">
              <label>Location</label>
              <input
                type="text"
                class="form-control"
                placeholder="Type valid URL here..."
                v-model.lazy.trim="formValues.company_url"
                :class="{ 'is-invalid': state.errors.company_url }"
              />
              <div class="invalid-feedback" v-if="state.errors.company_url">
                {{ state.errors.company_url }}
              </div>
            </div>
          </div>

          <div class="form-group col-mx-8">
            <label>Description</label>
            <textarea
              class="form-control"
              rows="3"
              placeholder="Type description of job here..."
              v-model="formValues.description"
              :class="{ 'is-invalid': state.errors.description }"
            ></textarea>
            <div class="invalid-feedback" v-if="state.errors.description">
              {{ state.errors.description }}
            </div>
          </div>

          <div class="alert alert-success" role="alert" v-show="state.saved">
            You've edited job successfully!
          </div>
          <div class="row">
            <div class="col text-left">
              <button type="button" @click="clear" class="btn btn-warning">
                Clear
              </button>
              <button
                type="submit"
                @click="deleteCurrentItem"
                class="ml-2 btn btn-danger"
              >
                Delete
              </button>
            </div>
            <div class="col">
              <PrimaryButton :loading="state.loading">Update</PrimaryButton>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script setup>
import PrimaryButton from "@/components/PrimaryButton.vue";
import { api } from "@/reusable/axios";
import { reactive, computed, onMounted, ref } from "vue";
import {
  errorState,
  resetObject,
  bindErrorsToObject,
  bindObjectToObject,
} from "@/reusable/state";
import { useRoute, useRouter } from "vue-router";
import { deleteItem } from "@/reusable/misc.js";

const formValues = reactive({
  title: "",
  company: "",
  location: "",
  description: "",
  company_url: "",
});
const route = useRoute();
const router = useRouter();
const id = ref(route.params.id);
const { state } = errorState();

const clear = computed(() => resetObject(formValues));
const deleteCurrentItem = computed(() => deleteAndReturn());

async function deleteAndReturn() {
  await deleteItem(id.value);
  router.replace({ name: "jobs-my" });
}
async function formSubmit() {
  resetObject(state);
  state.loading = true;
  await api
    .put(`/jobs/update/${id.value}`, formValues)
    .then((resp) => {
      console.log(resp);
      state.saved = true;
      state.loading = false;
    })
    .catch((err) => {
      bindErrorsToObject(err, state);
      state.loading = false;
    });
}

onMounted(async () => {
  await api.get(`/jobs/get/${id.value}`).then((resp) => {
    bindObjectToObject(resp.data, formValues);
  });
});
</script>
