<template>
  <div class="container">
    <h1>Find Jobs...</h1>
    <div v-if="jobs.length > 0" class="row">
      <div
        v-for="(job, index) in jobs"
        :key="index"
        class="col-lg-4 col-md-3 col-sm-10 mr-auto"
      >
        <div class="card shadow p-3 mb-2 bg-body rounded" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title">{{ job.title }}</h5>
            <p class="card-text">Company : {{ job.company }}</p>
            <p class="card-text">
              Company URL :
              <a :href="job.company_url">{{ job.company_url }}</a>
            </p>
            <p class="card-text">Description : {{ job.description }}</p>
            <router-link class="btn btn-primary" :to="{ name: 'about' }"
              >Read more</router-link
            >
          </div>
        </div>
      </div>
    </div>
    <TheLoading v-else />
  </div>
</template>

<script setup>
import TheLoading from "@/components/TheLoading.vue";
import { onMounted, ref } from "vue";
import { getData } from "@/reusable/misc.js";
const jobs = ref([]);

onMounted(async () => {
  const resp = await getData("/jobs/all");
  jobs.value = resp.data;
});
</script>
