<template>
  <div class="col-md-10">
    <TheLoading v-if="loading" />
    <div v-else-if="jobs.length > 0">
      <h1>My jobs</h1>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Title</th>
            <th>Company</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <tr v-for="(job, index) in jobs" :key="job.id">
            <th>{{ index + 1 }}</th>
            <td>{{ job.title }}</td>
            <td>{{ job.company }}</td>
            <td>
              <router-link
                :to="{ name: 'jobs-edit', params: { id: job.id } }"
                class="btn btn-outline-primary btn-sm mr-2"
                >Edit
              </router-link>
              <a
                @click="deleteItem(job.id), reloadData(job.id)"
                class="btn btn-outline-danger btn-sm"
                >Delete</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div v-else class="text-center">
      <h1>You don't have any jobs</h1>
      <router-link :to="{ name: 'jobs-create' }" class="btn btn-outline-primary"
        >Create a new one</router-link
      >
    </div>
  </div>
</template>

<script setup>
import TheLoading from "@/components/TheLoading.vue";
import { api } from "@/reusable/axios.js";
import { onMounted, ref } from "vue";

const jobs = ref([]);
const loading = ref(false);

onMounted(() => reloadData());

async function deleteItem(id) {
  loading.value = true;
  await api.delete(`/jobs/delete/${id}`);
  await reloadData();
  loading.value = false;
}

async function reloadData() {
  await api.get("/jobs/user/all").then((resp) => {
    jobs.value = resp.data;
  });
}
</script>
