<template>
  <div class="gap">
    <title>Job Board</title>
    <TheNavigation />
    <AutoLogout />
    <div class="container mt-5 d-flex justify-content-center">
      <router-view></router-view>
    </div>
  </div>
</template>

<script setup>
import TheNavigation from "@/components/TheNavigation.vue";
import AutoLogout from "@/components/AutoLogout.vue";
</script>
